.headband_text {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 30px 0px;
    color: #286d89;
    animation: slide 5s ease;
    //display: inline-block;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.headBand_presentation img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: row-reverse;
}

.textAbout {
    width: 80%;
    margin-left: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
}


.part,
.pro {
    position: relative;
    padding: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 65%;
    margin: 0 30% 0;
}

.privateOrProfessionnal h2 {
    padding-left: 100px;
    background: #edbbb4;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    color: #f3e9e7;
}

.part button,
.pro button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
    background: #286d89;
    border: none;
    margin: 20px auto;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 0 #286d89;
    transition: all 0.2s ease;
}

.part button:active,
.pro button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #8B4513;
    background: #ad6b02;
    color: #e7d4cf;
}

.imgPrice img {
    width: 45%;
    height:600px;
    object-fit: cover;

}
.imgPrice{
    height: 0;
    width: 65%;
}

/* Style pour tablettes */
@media (max-width: 1024px) {
    .headband_text {
        font-size: 25px;
    }


    .textAbout {
        width: 95%;
        margin-left: 10px;
    }

    .part,
    .pro {
        width: 80%; /* Ajuster la largeur pour les tablettes */
        margin: 20px auto; /* Centre les éléments horizontalement */
        padding: 15px; /* Réduire le padding pour les tablettes */
        position: relative; /* Annule les positions spécifiques */
    }
}

/* Style pour téléphones */
@media (max-width: 768px) {
    .headBand_presentation img {
        height: 200px;
    }
    .imgPrice{
        width: 0px;
    }

    .textAbout {
        width: 100%;
        margin-left: 0px;
    }

    .headband_text {
        font-size: 18px;
        padding: 10px 0;
    }

    .part,
    .pro {
        width: 100%; /* Utiliser toute la largeur disponible pour les téléphones */
        margin: 10px 0; /* Ajouter de l'espace entre les éléments */
        padding: 10px; /* Réduire le padding pour les petits écrans */
        position: relative; /* Annule les positions spécifiques */
    }
}
