.headband_text{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 30px 0px;
    color: #286d89;
    animation: slide 5s ease;
    display: inline-block;
}
@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
.headBand_presentation img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.about{
    display: flex;
    flex-direction: row-reverse;
}
.textAbout{
    width: 80%;
    margin-left: 50px;
}
.privateOrProfessionnal {
    display: flex; /* Utilise Flexbox pour aligner les divs particulier et pro côte à côte */
    gap: 20px; /* Espace entre les deux divs */
    justify-content: center; /* Centre les divs horizontalement */
    padding: 20px;
    align-items: center; /* Centre verticalement les éléments */
}

.particulier {
    flex: 1 1 45%; /* Prend environ 45% de la largeur disponible */
    background-color: #f3e9e7;
    border-radius: 0 50% 50% 0; /* Bordure arrondie à droite */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet 3D */
    margin-bottom: 20px;
}

.pro {
    flex: 1 1 45%; /* Prend environ 45% de la largeur disponible */
    background-color: #e7f3ea;
    border-radius: 50% 0 0 50%; /* Bordure arrondie à gauche */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet 3D */
    margin-bottom: 20px;
}



.particulier button, .pro button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 200px;
        height: 40px;
        text-align: center;
        color: white;
        border-radius: 5px;
        background: #286d89;
        border: none;
        margin: 30px auto;
        padding: 5px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 5px 0 #286d89;
        transition: all 0.2s ease;
    }

.particulier button:active, .pro button:active{
        transform: translateY(5px);
        box-shadow: 0 2px 0 #8B4513;
    }





/* Style pour tablettes */
@media (max-width: 1024px) {

    .headband_text {
        font-size: 25px;
    }

    .textAbout {
        width: 95%;
        margin-left: 10px;
    }


}


@media (max-width: 768px) {
    .headBand_presentation img {


        height: 200px;
    }
    .privateOrProfessionnal {
        flex-direction: column; /* Empile les divs verticalement */
        align-items: center; /* Centre les divs */
    }

    .particulier, .pro {
        flex: 1 1 100%; /* Prend toute la largeur sur les petits écrans */
        max-width: 90%; /* Limite la largeur maximale pour éviter de toucher les bords */
    }
    .textAbout{
        width:100%;
        margin-left: 0px;
    }
    .headband_text {
        font-size: 18px;
    }
}