.price-container {

    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
}


.particulier, .professionnel {
    flex: 1 1 25%;
    padding: 40px;
    margin: 50px;
    border: 1px solid #ad6b0226;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    background: #ad6b0240;
    text-align: center;

}
.particulier li, .professionnel li{
    list-style: none;
    color: rgb(40, 109, 137);
    font-size: 15px;
    text-transform: capitalize;
    font-style: initial;
}
.imgtarifs img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}


@media (max-width: 768px) {
    .price-container {
        flex-direction: column;
        align-items: center;
    }

    .particulier, .professionnel {
        flex: 1 1 100%;
        max-width: 90%;
        padding: 10px;
        margin: 0px;
    }
}
