.footer {
    background-color: #286d89;
    padding: 20px;
    color: #efd396;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    text-align: center;
}


.footer .logoFooter img {
    width: 150px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 16px;
    margin: 0;
    color: #edbbb4;
}
.footer p a:hover{
    color: #f3e9e7;
}

.footer .reseaux,
.footer .label {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer .reseaux li img {
    width: 40px;
    height: auto;
}

.footer .label li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer .label li a:hover {
    color: #555;
}

/* Responsivité : Mobile */
@media (max-width: 576px) {
    .footer {
        padding: 15px;
    }

    .footer .logoFooter img {
        width: 120px;
    }

    .footer p {
        font-size: 14px;
    }

    .footer .reseaux li img {
        width: 25px;
    }

    .footer .label li a {
        font-size: 12px;
    }
}

/* Responsivité : Tablette */
@media (min-width: 577px) and (max-width: 992px) {
    .footer {
        padding: 20px;
    }

    .footer .logoFooter img {
        width: 130px;
    }

    .footer p {
        font-size: 15px;
    }

    .footer .reseaux li img {
        width: 28px;
    }

    .footer .label li a {
        font-size: 13px;
    }
}

/* Responsivité : Desktop */
@media (min-width: 993px) {
    .footer {
        padding: 30px;
    }

    .footer .logoFooter img {
        width: 160px;
    }

    .footer p {
        font-size: 18px;
    }

    .footer .reseaux li img {
        width: 35px;
    }

    .footer .label li a {
        font-size: 15px;
    }
}
