.portrait {
    border-radius: 50% 0 0 50%;
    width: 800px;
    object-fit: cover;
    margin-top: 100px;
}


@media (max-width: 768px) {
    .portrait {
        width: 0px;
    }
}


@media (max-width: 480px) {
    .portrait {
        display: none;
    }
}
